@import url('https://fonts.googleapis.com/css?family=Anton&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&subset=latin-ext');
html,
body,
.view {
  height: 100%;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: 'Lato', sans-serif;
}


/* Navigation*/

.navbar {
  background-color: rgba(28, 35, 49, 0.5);
}

.head {
  font-family: 'Anton', sans-serif;
  font-size: 8rem !important;
}

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: #1C2331;
}

footer.page-footer {
  background-color: #1C2331;
  margin-top: -1px;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    display: block;
  }
  #navbarNav1 {
    clear: both;
  }
  #map-section {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}


/*Call to action*/

.flex-center {
  color: #fff;
}

canvas {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#nokey {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/overlays/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.7;
}

#about,
#contact {
  background: #eeeeee;
}

#about,
#offer,
#ue,
#contact {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#contact {
  margin-bottom: 0;
}

//#ue {
//  background: #eeeeee;
//  i {
//    margin-right: 20px;
//  }
//  .row {
//    margin-top: 5rem;
//    color: #757575;
//  }
//}
.features-column {
  padding-left: 20px;
  position: relative;
  height: 270px;
  @media screen and (max-width: 1199px) {
    height: 300px;
  }
  @media screen and (max-width: 991px) {
    height: 200px;
  }
  @media screen and (max-width: 767px) {
    height: 250px;
  }
  @media screen and (max-width: 575px) {
    height: 270px;
  }
  @media screen and (max-width: 479px) {
    height: 290px;
  }
  @media screen and (max-width: 464px) {
    height: 300px;
  }
  @media screen and (max-width: 427px) {
    height: 330px;
  }
  @media screen and (max-width: 407px) {
    height: 340px;
  }
  @media screen and (max-width: 398px) {
    height: 370px;
  }
  @media screen and (max-width: 377px) {
    height: 400px;
  }
}

#offer i {
  padding-right: 10px;
}

#company-image-div {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

#company-image {
  margin-left: 50px;
}

.no-gutter>[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

#map-seciton {}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}