<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formularz kontaktowy</title>
</head>
<body style="font-family: Helvetica,Arial,sans-serif;font-weight: normal;color: #617278;background-color: #f1f6f7;padding: 50px 0;margin: 0;font-size: 13px;">

<div style="margin: 0 auto;width: 500px;">

    <div style="background-color: #fff;">
        <div style="background-color: #dde7e7;padding: 10px;">
            <h3 style="color: #617278;font-size: 15px;margin: 0;padding: 0;">Formularz kontaktowy</h3>
        </div>
        <div style="padding: 10px;">
            <p>Imię i nazwisko: <strong>{{osoba_kontaktowa}}</strong>.</p>
            <p>Email: <strong>{{email}}</strong>.</p>
            <p>Temat: <strong>{{temat}}</strong>.</p>
            <p>Wiadomość: <strong>{{message}}</strong>.</p>
        </div>
    </div>

</div>

</body>
</html>
